// Responsive sizes mixins
@mixin phone {
    @media (max-width: $screen-phone) {
        @content;
    }
}

@mixin small-tablet {
    @media (min-width: $screen-phone) and (max-width: 991px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $screen-phone) and (max-width: $screen-desktop) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $screen-desktop) {
        @content;
    }
}

@mixin large-desktop {
    @media (min-width: $screen-lg-desktop) {
        @content;
    }
}

@mixin portrait {
    @media screen and (min-aspect-ratio: 9/16) {
        @content;
    }
}

@mixin phone-to-tablet {
    @include tablet {
        @content;
    }
    @include phone {
        @content;
    }
}


// Base layout classes
.container {
    @include container-fixed($grid-gutter-width);

    @include phone {
        padding-left:10px;
        padding-right:10px;
    }
    @include tablet {
        padding-left:10px;
        padding-right:10px;
    }
    @include desktop {
        width:$screen-desktop;
    }
    @include large-desktop {
        width:$screen-lg-desktop;
    }
}

.row {
    @include make-row;

    &-centered {
        text-align:center;
    }

    @include phone {
        margin-right:-10px;
        margin-left:-10px;
    }
}

.articles__container {
    display: flex;
    flex-wrap: wrap;
}

.col {
    &-left {
        float:left;
        vertical-align:middle;
        padding-left:$grid-gutter-width / 2;

        @include tablet {
            display:block;
        }
        @include phone {
            display:block;
            padding-left:0px;
        }
    }
    
    &-right {
        float:right;
        padding-right:$grid-gutter-width / 2;
        text-align:right;
        vertical-align:middle;

        @include tablet {
            display:block;
            text-align:left;
        }
        @include phone {
            display:block;
            padding-right:0px;
        }
    }

    &-quarter,
    &-quarter-short {
        flex: 1 0 280px;
        @include tablet {
            flex: 1 0 308px;
        }
        @include phone {
            flex: 1 0 308px;
        }
    }
    &-third,
    &-third-short {
        flex: 1 0 375px;
        @include tablet {
            flex: 1 0 308px;
        }
        @include phone {
            flex: 1 0 308px;
        }
    }
    &-half {
        flex: 1 0 50%;
        @include small-tablet {
            flex: 1 0 308px;
        }
        @include phone {
            flex: 1 0 308px;
        }
    }
    &-two-thirds,
    &-two-thirds-short {
        flex: 1 0 66.66%;
    }
    &-three-quarters {
        flex: 1 0 75%;
    }
    &-full {
        flex: 1 0 100%;
    }
}

.col-centered {
    float:none;
    margin-left:auto;
    margin-right:auto;
}

@media (min-width: 768px) and (max-width: 1180px) {
    .container {
        width:98%;
        margin-left:auto;
        margin-right:auto;
    }
}
