{% extends "_layout" %}

{% block content %}
<h2>{{ category.title }}</h2>

{# Output them #}
{% for entry in craft.entries.relatedTo(category) %}
    {% include '_elements/card' %}
{% endfor %}

{% endblock %}
