.article {
    @extend .container;
    padding: 0 15px;
    @include desktop-sm {
        padding:0;
    }
    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
    img {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 60px;

    }
    h1 {
        font-size: 32px;
        @include tablet {
            font-size: 44px;
        }
        font-weight: 700;
        color: #4A4A4A;
        letter-spacing: -0.014em;
        line-height: 1.02;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 26px;
        @include tablet {
            font-size: 35px;
        }
        font-weight: 700;
        color: #4A4A4A;
        letter-spacing: -0.014em;
        line-height: 1.02;
        margin-bottom: 30px;
    }
    p {
        font-weight: 400;
        font-size: 18px;
        color: #4A4A4A;
        letter-spacing: -0.25px;
        line-height: 30px;
        margin-bottom: 30px;
    }
		p + ol, p + ul {
			//margin-top: -20px;
		}
    ol, ul {
			margin-bottom: 20px;
			margin-left: 20px;
        li {
            font-weight: 400;
            font-size: 18px;
            color: #4A4A4A;
            letter-spacing: -0.25px;
            line-height: 31px;
						list-style-position: inside;
        }
    }
		ul li {
			list-style-type: disc;
		}
		ol li {
			list-style-type: decimal;
		}
    img {
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: -10px;
        @include desktop-sm {
            width: 1170px;
            margin-top: 30px;
            margin-bottom: 60px;
            margin-left: -200px;
            margin-right: -200px;
        }
    }
    &__image {
        height:260px;
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-right: -15px;
        @include tablet {
            margin-left: calc(-16px - 1%);
            margin-right: calc(-16px - 1%);
            width: calc(102% + 32px);
            height: 470px;
        }
        @include desktop-sm {
            margin-left:0;
            margin-right:0;
            width:100%;
        }
    }
    &__container {
        max-width: 770px;
        margin: 0 auto 30px;
        @include desktop-lg {
            max-width: 1080px;
        }
    }
    &__channel_wrap {
        text-align: center;
        width: 100%;
        position: relative;
        bottom: 15px;
    }
    &__channel {
        border-radius: 39px;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.21px;
        margin-bottom: 15px;
        display: inline-block;
        padding: 3px 15px;
        background-color: #fff;
        border: 1px solid #456576;
        color: #456576;
        @include tablet {
            margin-bottom: 60px;
        }
    }
    &__author {
        font-weight: 700;
        font-size: 13px;
        color: #4A4A4A;
        letter-spacing: 0px;
        line-height: 1.4;
        margin-bottom: 7px;
    }
    &__header {
        justify-content: space-between;
        margin-bottom: 35px;
        @include tablet {
            display: flex;
            margin-bottom: 50px;
        }
        &_actions {
            text-align: center;
            margin-top: 5px;
            @include tablet {
                margin-top: 0;
                text-align: left;
            }
        }
    }
    &__profile {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet {
            justify-content: flex-start;
            align-items: stretch;
            flex-direction: row;
        }
    }
    &__headline {
        text-align: center;
    }
    &__date {
        opacity: 0.69;
        font-weight: 600;
        font-size: 12px;
        color: #4A4A4A;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 30px;
    }
    &__intro, &__intro p {
        font-weight: 600;
        font-size: 24px;
        color: #4A4A4A;
        letter-spacing: -0.33px;
        line-height: 34px;
        margin-bottom: 30px;
    }
}

.comments-header {
  //margin-bottom:10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  margin-bottom: 50px !important;
  opacity: 0.4;
  font-weight: 400 !important;
  text-align: center;
}

.additional-articles__header {
	border-top: 1px solid rgba(0,0,0,0.1);
	padding-top: 50px;
	margin-bottom: 50px!important;
	opacity: 0.4;
	font-weight: 400!important;
}

.show-comments {
    background: #FFFFFF;
    border: 1px solid #7396A5;
    border-radius: 2px;
    font-weight: 600;
    font-size: 15px;
    color: #7396A5;
    letter-spacing: 0px;
    padding: 3px 15px 4px;
}

.profile__user_image {
    margin-bottom: 8px;
    @include tablet {
        margin-bottom: 0;
    }
}

.profile__author_wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 2px;
    @include tablet {
        align-items: flex-start;
        align-self: center;
        margin-left: 15px;
    }
}

.heading {
    font-weight: 300;
    font-size: 39px;
    color: #384362;
    letter-spacing: -1.01px;
    line-height: 45px;
    margin-bottom: 45px;
    width: 100%;
}

.DisqusCommentArea {
    width:100%;
    margin-top:40px;
    display:inline-block;
    border-top:2px solid rgba($hover-color, 0.75);
}

[class*="medium-insert-"], .article-content-section {
		body {
			height: auto;
		}
    .slide__caption {
        bottom:0px;
        width:100%;
        padding:15px 25px;

        > p {
            width:100%;
            margin-bottom:0px!important;
            font-size:($baseFontSize * 1) - 1!important;
        }
    }

    .video {
        .slide__caption {
            display:none;
        }
    }
}

.medium-insert-images {
	margin-bottom: 30px;

	figure {

	}
	figcaption {
		font-size: 14px;
		color: $dark-color;
		margin-top: 7px;
    opacity: 0.6;
	}
	img {
		margin: 0!important;
		width: 100%!important;
		// TODO: Need to push out image - cannot do because of !importants
		// @include tablet {
		// 		margin-left: -80px!important;
		// 		margin-right: -80px!important;
		// 		width: calc(100% + 160px)!important;
		// }
	}
	&-left, &-right {
		max-width: 50%;
		//margin-bottom: 20px;
		margin-top: 31px;
		// img {
		// 	@include tablet {
		// 			width: 100%;
		// 	}
		// }
	}
	&-left {
		float: left;
		margin-right: 31px!important;
		margin-left: -80px!important;
		figure {

		}
	}
	&-right {
		float: right;
		margin-left: 31px!important;
		margin-right: -81px!important;
	}

}

.medium-insert-vimeo, .medium-insert-youtube, .medium-insert-instagram {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	clear: both;
	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.medium-insert-vim div {
		max-width: none!important;
	}

}

.medium-insert-instagram {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}


video.cloudVideo {
    width:100%;
}
