.button {
  background: transparent;
  border: 1px solid #C5C8D2;
  border-radius: 2px;
  padding: 6px 20px 8px 20px;
  display: inline-block;
  @include text-sm;
  &__follow {
    font-size: 13px;
    color: #FFF;
    border: 1px solid #fff;
    padding: 2px 10px 4px;
    max-width: 62px;
		&:hover, &:active {
			background: #fff;
			color: rgb(65, 83, 90);
		}
  }
}



.header_actions {
  &__comments, &__share {
    margin-top: 12px;
    padding-left: 35px;
  }
  &__comments {
    background-image: url(../images/icons/comment-icon.svg);
    background-repeat: no-repeat;
    background-position: 13px 8px;
    margin-right: 5px;
  }
  &__share {
    background-image: url(../images/icons/share-icon.svg);
    background-repeat: no-repeat;
    background-position: 13px 8px;
  }
}

.user-header__comments, .user-header__share {
  height:34px;
  padding: 6px 20px 8px 20px;
  max-width:none;
}
