.header {
    &__navigation {
        background-color: $white;
        list-style: none;

        &-row {
            @extend .row;

            margin: 0px;
            text-align: center;
            justify-content: center;
        }
        &-list {
            margin: 0px 0px 30px 0;
            padding: 0px;
            li:nth-of-type(1) {
                border-bottom: 4px solid rgba(69, 101, 118, 1);
            }
            li:nth-of-type(2) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.80);
            }
            li:nth-of-type(3) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.65);

            }
            li:nth-of-type(4) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.50);
            }
            li:nth-of-type(5) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.35);

            }
            li:nth-of-type(6) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.25);

            }
            li:nth-of-type(7) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.15);

            }
            li:nth-of-type(8) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.10);

            }
            li:nth-of-type(9) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.05);

            }
            li:nth-of-type(10) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.02);

            }
        }
        &-item {
            display: inline-block;
            margin-right: -3px;
        }
        &-link {
            color: $link-color;
            display: inline-block;
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            padding: 0 15px 10px;
            line-height: 20px;
            @include transition(color 0.5 ease);
            &:active, &.active {
                color: #7396A5;
            }
        }
        &-selected {
            padding: 5px 10px 2px;
            line-height: 40px;
        }
        &-responsive {
            background-image: url(images/icons/arrow-down.svg);
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: 50% 90%;
            background-color: #fafafa;
            display: none;
            padding: 20px 0px 40px;
            text-transform: uppercase;
            text-align: center;

            &:hover {
                cursor: pointer;
            }

            &--expand {
                background-image: url(images/icons/arrow-up.svg);
            }

        }

        display: none;

        @include desktop-sm {
            display: flex;
        }
    }
    &__heading {
        background-color: #fff;

        &-container {
            @extend .container;
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;
            padding: 15px;

            @include tablet {
                width: 100%;
                padding: 15px 25px;
                height: 95px;
                align-items: center;
            }
            @include desktop-sm {
                align-items: flex-start;
                padding: 35px 0 45px;
                height: auto;
                width: 1170px;
            }
            @include desktop-lg {
                width: 1580px;
            }
            &::before, &::after {
                content: normal;
            }
        }
        &-highlight {
            background: #4A4A4A;
            height: 4px;
        }
        &-icons {
            order: 2;
        }
        &-logo {
            display: inline-block;
            height: 65px;
            max-height: 35px;
            @include tablet {
                width: auto;
                max-height:50px;
            }
            @include desktop-sm {
                max-height: 65px;
            }
            img {
                height: 100%;
            }
        }
        &-menu {
            background-color: $base-color;
            background-image: url(images/icons/dropdown-arrow.svg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 10px;
            border-radius: 5px;
            content: "";
            height: 26px;
            vertical-align: middle;
            width: 26px;
            display: none;

            @include tablet {
                display: inline-block;
            }


            &:hover {
                background-color: $grey;
            }

            &--expand {
                background-image: url(images/icons/arrow-up-white.svg);
            }
        }
        &-link {
            line-height: 50px;
            @include mobile {
                line-height: 1;
            }
            &, &:link, &:visited, &:active {
                color: $base-color;
                display: inline-block;
                vertical-align: middle;
                text-transform: uppercase;
            }

            &#login {
                display: none;
            }

            &--search {
                display: none;
                @include tablet {
                    display: block;
                }
                &, &:link, &:visited, &:active {
                    background-image: url(images/icons/search.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 40px;
                    width: 60px;
                    display: none;
                }
            }
            &--sign-in {
            }
            &--profile {
                &, &:link, &:visited, &:active {
                    background-image: url(images/icons/profile.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    right: 0px;
                    margin-left: 30px;
                    top: 4px;
                    height: 40px;
                    width: 40px;
                    z-index: 100;
                    margin-right: 10px;
                    background-size: 30px;
                    @include tablet {
                        margin-right: 20px;
                        background-size: 35px;
                    }
                    @include desktop-sm {
                        margin-right: 0;
                    }
                }
            }
            &--responsive {
                background-image: url(images/icons/menu.svg);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                top: 0px;
                left: 0px;
                line-height: 120px;
                height: 40px;
                width: 40px;
                z-index: 100;
                display: inline-block !important;
                background-size: 30px;

                @include tablet {
                    display: inline-block !important;
                    background-size: 35px;
                }
                @include desktop-sm {
                    background-size: 40px;
                    display: none !important;
                }
            }
        }

        &--left {
            text-align: right;
            @include desktop-sm {
                text-align: right;
            }
        }
        &--right {
            display: flex;
            text-align: right;
            @include desktop-sm {
                align-items: flex-end;
            }
        }
        &--visible_desktop {
            display: none;
            @include desktop-sm {
                display: block;
            }
        }
    }

    &__search {
        float: right;

        &-text {
            background-color: transparent;
            background-image: url(images/icons/search-magnifying-glass.svg);
            background-position: 100% 50%;
            background-repeat: no-repeat;
            background-size: 16px;
            border: none;
            display: inline-block;
            font-size: 16px;
            width: 300px;
            box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.17);
            height: 48px;
            margin: 0px;
            padding: 8px 0 8px 12px;
        }
    }
}

#header__menu {
    display: none;
}

#custom-search-form-container {
	top:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	display:none;
	z-index:9999;
	position:fixed;
	text-align:center;
	padding:30px 0 20px;
	background:rgba($dark-color ,0.85) none repeat scroll 0 0;

    #custom-search-form {
        top:50%;
        left:50%;
        width:1180px;
        position:absolute;
        -webkit-transition:all 0.3s ease-out;
        -moz-transition:all 0.3s ease-out;
        -o-transition:all 0.3s ease-out;
        transition:all 0.3s ease-out;

        input[type="text"] {
            float:left;
            width:calc(100% - 70px);
            height:auto;
            height:70px;
            border-radius:3px;
            font-weight:300;
            border:2px solid #cccccc;
            padding:15px 75px 15px 20px;
            font-size:($baseFontSize * 2) - 2;
            background:$white none repeat scroll 0 0;
            -webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            -o-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

            &:focus {
                border:2px solid rgba($white ,1)!important;
                @include box-shadow(inset 0 0 0 1px rgba($hover-color ,1));
            }
        }

        .search_button {
            float:left;
            width:70px;
            height:70px;
            border:none;
            margin-left:-70px;
            display:inline-block;
            vertical-align: middle;
            background:url('images/icons/search.svg') no-repeat center center;
            background-size:70px auto;
        }
    }

    a.custom-search-form-close {
        top:20px;
        right:20px;
        z-index:50;
        width:30px;
        height:30px;
        border:none;
        cursor:pointer;
        position:absolute;
        background:transparent;
        @include transition(all 0.4s ease-in-out);

        > span {
            font-size:0px;
        }

        &:before, &:after {
            top:50%;
            left:-15%;
            right:-15%;
            height:1px;
            content:' ';
            position:absolute;
            background-color:$white;
            @include transition(all 0.2s ease-in-out);
        }
    }
}
