<div class="admin-actions">
    <button href="#" class="admin-actions__action admin-actions__action--move">
        <span>MOVE</span>
        <img src="/static/images/icons/editor/move.svg" alt="move card">
    </button>
    <button href="#" class="admin-actions__action admin-actions__action--hide">
        <span>HIDE</span>
        <img src="/static/images/icons/editor/hide.svg" alt="hide card">
    </button>
    <button href="#" class="admin-actions__action admin-actions__action--pin">
        <span>PIN</span>
        <img src="/static/images/icons/editor/pin.svg" alt="pin card">
    </button>
    <button href="#" class="admin-actions__action admin-actions__action--edit">
        <span>EDIT</span>
        <img src="/static/images/icons/editor/edit.svg" alt="edit card">
    </button>
</div>