$light-color:     #fff;
$gray-color:      #ebebeb;
$dark-color:      #000000;
$base-color:      #404040;
$grey:			  #808080;
$body-text:       #4A4A4A;

$highlight-color: #36647E;
$quote-color:     #662d91;
$hover-color:     $highlight-color;
$follow-color:    #00a651;
$hashtag-color:   #55acee;
$slide-color:     #0076a3;
$blue:            #46a5fc;
$transparent:     rgba(0,0,0,0);
$border-color:    #e0e0e0;
$placeholder:     #A9B0BC;

$error-color:     #e73d4a;
$success-color:   #4FE8C4;
$warning:         #fecd50;
$black:           #000000;
$white:           #ffffff;

$sections: (
  national:    (
    color: rgba(69, 101, 118, 1),
  ),
  world: (
    color: rgba(106, 131, 145, 1)
  ),
  lifestyle:        (
    color: rgba(134, 154, 165, 1)
  ),
  travel:         (
    color: rgba(162, 178, 167, 1)
  ),
  entertainment:     (
    color: rgba(190, 201, 207, 1)
  ),
  technology:       (
    color: rgba(209, 217, 221, 1)
  ),
  finance:         (
    color: rgba(227, 232, 234, 1)
  ),
  sport:      (
    color: rgba(69, 101, 118, 0.10)
  ),
  extra:      (
    color: rgba(69, 101, 118, 0.05)
  )
);

$cards: (
  facebook:    #3b5998,
  featured:    #15b999,
  google-plus: #e04a32,
  instagram:   #9f6fc0,
  linkedin:    #123e65,
  twitter:     #55acee,
  youtube:     #cc181e,
  vimeo:       #00b3ec,
);


@function color($card_type) {
  @return map-get($cards, $card_type);
}

// Grids
$grid-gutter-width: 20px;

// Dimensions
$screen-xs: 480px;  // Mobile
$screen-sm: 768px;  // Tablet
$screen-md: 1190px; // Desktop
$screen-lg: 1600px; // Large desktop

// Font
$heading-font-family: "Droid Serif", Helvetica, Arial, sans-serif !default;
$base-font-family:  	"Open Sans", Helvetica, Arial, sans-serif !default;
$text-font-family: 	"Open Sans", Helvetica, Arial, sans-serif !default;
$iconfont:				FontAwesome !default;

// Font Size
$baseFontSize:			18px; /* ($baseFontSize * 1) + 0px; */
$center:				center;

@mixin text-sm($letter-spacing: 0, $color: $body-text) {
  font-size: ($baseFontSize * 0.72); // 13px
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: $letter-spacing + px;
  color: $body-text;
}
