.header {
    &__navigation {
        background-color: $white;
        list-style: none;
        margin-bottom:15px;
        border-bottom:1px solid rgba($black, 0.05);

        &-row {
            @extend .row;

            margin: 0px;
            text-align: center;
        }
        &-list {
            margin: 0px 0px 30px -10px;
            padding: 0px;
            li:nth-of-type(1) {
                border-bottom: 4px solid rgba(69, 101, 118, 1);
            }
            li:nth-of-type(2) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.80);
            }
            li:nth-of-type(3) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.65);

            }
            li:nth-of-type(4) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.50);
            }
            li:nth-of-type(5) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.35);

            }
            li:nth-of-type(6) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.25);

            }
            li:nth-of-type(7) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.15);

            }
            li:nth-of-type(8) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.10);

            }
            li:nth-of-type(9) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.05);

            }
            li:nth-of-type(10) {
                border-bottom: 4px solid rgba(69, 101, 118, 0.02);

            }
        }
        &-item {
            display: inline-block;
            margin-right: -3px;
        }
        &-link {
            &, &:link, &:visited, &:active, &.active {
                color: $link-color;
                display: inline-block;
                font-weight: 600;
                font-size: 18px;
                text-transform: uppercase;
                padding: 0 15px 10px;
                line-height: 20px;
            }
        }
        &-selected {
            padding: 5px 10px 2px;
            line-height: 40px;
        }
        &-responsive {
            background-image: url(images/arrow-down.svg);
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: 50% 90%;
            background-color: #fafafa;
            display: none;
            padding: 20px 0px 40px;
            text-transform: uppercase;
            text-align: center;

            &:hover {
                cursor: pointer;
            }

            @include phone-to-tablet {
                display: none;
            }

            &--expand {
                background-image: url(images/arrow-up.svg);
            }

        }

        @include phone-to-tablet {
            display: none;
        }
    }
    &__heading {
        background-color: #fff;

        &-container {
            @extend .container;

            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: flex-start;
            padding: 35px 0 45px;

            // width: 100%;

            @include phone-to-tablet {
                width: 100%;
                padding: 15px 25px;
                height: 95px;
                align-items: center;
            }
            @include phone {
                padding: 15px;
            }
            &::before, &::after {
                content: normal;
            }
        }
        &-highlight {
            background: #4A4A4A;
            height: 4px;
        }
        &-icons {
            order: 2;
        }
        &-logo {
            background-position: 0% 50%;
            background-repeat: no-repeat;
            background-size: 100%;
            /* border: 1px $dark-color solid;
               padding: 0px 20px; */
            display: inline-block;
            font-size: 14px;
            height: 65px;
            line-height: 63px;
            text-align: center;
            text-transform: uppercase;
            vertical-align: middle;

            &, &:link, &:visited, &:active {
                color: $dark-color;
            }

            @include phone {
                height: 65px;
                width: 170px;
            }

            img {
                width: 100%;
            }
        }
        &-menu {
            background-color: $base-color;
            background-image: url(images/dropdown-arrow.svg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 10px;
            border-radius: 5px;
            content: "";
            display: inline-block;
            height: 26px;
            vertical-align: middle;
            width: 26px;

            &:hover {
                background-color: $grey;
            }

            &--expand {
                background-image: url(images/arrow-up-white.svg);
            }

            @include phone {
                display: none;
            }
        }
        &-link {
            &, &:link, &:visited, &:active {
                color: $base-color;
                display: inline-block;
                vertical-align: middle;
                text-transform: uppercase;
            }

            &#login {
                display: none;
            }

            &--search {
                &, &:link, &:visited, &:active {
                    background-image: url(images/icons/search.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 40px;
                    width: 60px;
                    display: none;
                }

                @include phone {
                    display: none;
                }
            }
            &--sign-in {
            }
            &--profile {
                &, &:link, &:visited, &:active {
                    background-image: url(images/icons/profile.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 35px;
                    right: 0px;
                    margin-left: 30px;
                    top: 4px;
                    height: 40px;
                    width: 40px;
                    z-index: 100;
                    @include tablet {
                        margin-right: 20px;
                    }
                    @include phone {
                        margin-right: 10px;
                        background-size: 30px;
                    }
                }
            }
            &--responsive {
                display: none !important;
                background-image: url(images/icons/menu.svg);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 40px;
                top: 0px;
                left: 0px;
                line-height: 120px;
                height: 40px;
                width: 40px;
                z-index: 100;

                @include tablet {
                    display: inline-block !important;
                    background-size: 35px;
                }
                @include phone {
                    display: inline-block !important;
                    background-size: 30px;
                }
            }

            @include phone {
                line-height: 50px;
            }
        }

        &--left {
            display: table-cell;
            font-size: 0px;
            vertical-align: middle;

            @include phone-to-tablet {
                text-align: center;
            }
        }
        &--right {
            display: flex;
            font-size: 0px;
            margin-top: 5px;
            text-align: right;
            vertical-align: middle;
        }
        &--visible_desktop {
            @include phone-to-tablet {
                display: none;
            }
        }
    }

    &__search {
        float: right;

        &-text {
            background-color: transparent;
            background-image: url(images/icons/search-magnifying-glass.svg);
            background-position: 100% 50%;
            background-repeat: no-repeat;
            background-size: 16px;
            border: none;
            display: inline-block;
            font-size: 16px;
            width: 300px;
            box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.17);
            height: 40px;
            margin: 0px;
            padding-left: 10px;
        }
    }
}

#header__menu {
    display: none;
}

#custom-search-form-container {
	top:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	display:none;
	z-index:9999;
	position:fixed;
	text-align:center;
	padding:30px 0 20px;
	background:rgba($dark-color ,0.85) none repeat scroll 0 0;

    #custom-search-form {
        top:50%;
        left:50%;
        width:1180px;
        position:absolute;
        -webkit-transition:all 0.3s ease-out;
        -moz-transition:all 0.3s ease-out;
        -o-transition:all 0.3s ease-out;
        transition:all 0.3s ease-out;
        @include transform(translate(-50%, -50%));

        @media #{$media-phone}, #{$media-iPhoneMedium}, #{$media-iPhoneLarge} {
            width:90%;
        }
        @media screen and (min-width:768px) and (max-width:1099px) {
            width:80%;
        }

        input[type="text"] {
            float:left;
            width:calc(100% - 70px);
            height:auto;
            height:70px;
            @include border-radius(3px);
            font-weight:300;
            border:2px solid #cccccc;
            padding:15px 75px 15px 20px;
            font-size:($baseFontSize * 2) - 2;
            background:$white none repeat scroll 0 0;
            -webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            -o-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

            @media #{$media-phone}, #{$media-iPhoneMedium}, #{$media-iPhoneLarge} {
                height:50px;
                width:calc(100% - 50px);
                padding:5px 40px 5px 10px;
                font-size:($baseFontSize * 1);
            }

            &:focus {
                border:2px solid rgba($white ,1)!important;
                @include box-shadow(inset 0 0 0 1px rgba($hover-color ,1));
            }
        }

        .search_button {
            float:left;
            width:70px;
            height:70px;
            border:none;
            margin-left:-70px;
            display:inline-block;
            vertical-align: middle;
            background:url('../images/icons/search.svg') no-repeat center center;
            background-size:70px auto;

            @media #{$media-phone}, #{$media-iPhoneMedium}, #{$media-iPhoneLarge} {
                width:40px;
                height:50px;
                margin-left:-40px;
                background-size:40px 50px;
            }
        }
    }

    a.custom-search-form-close {
        @include opacity(0);
        @include transform(translateY(-40px) rotate(90deg));
    }
    #custom-search-form a.custom-search-form-close {
        @include opacity(1);
        @include transform(translateY(0px) rotate(0deg));
    }

    a.custom-search-form-close {
        top:20px;
        right:20px;
        z-index:50;
        width:30px;
        height:30px;
        border:none;
        cursor:pointer;
        position:absolute;
        background:transparent;
        @include transition(all 0.4s ease-in-out);

        @media #{$media-phone}, #{$media-iPhoneMedium}, #{$media-iPhoneLarge} {
            top:10px;
            right:10px;
        }

        > span {
            font-size:0px;
        }

        &:hover {
            @include transform(translateY(0px) rotate(90deg)!important);
        }

        &:before, &:after {
            top:50%;
            left:-15%;
            right:-15%;
            height:1px;
            content:' ';
            position:absolute;
            background-color:$white;
            @include transition(all 0.2s ease-in-out);
        }

        &:before {
            @include transform(rotate(45deg));
        }
        &:after {
            @include transform(rotate(-45deg));
        }
    }
}
